.dash-products .widgets {
  margin-top: 1rem;
  .widget {
    max-width: 300px;
    height: 120px;
  }
}

.dash-container .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  .filter-btn {
    height: 50px;
    background-color: $whiteColor;
    border: $border;
  }
  .new-product {
    min-width: max-content;
    height: 50px;
    background-color: $thirdColor;
    .icon-btn {
      min-width: 50px;
      padding: 0% 1rem;
      font-size: 16px;
      color: $whiteColor;
    }
    .icon {
      width: 18px;
      margin-right: 0.5rem;
    }
  }
}

.product-view {
  max-width: 950px;
  padding: 0rem;
  .destination {
    display: none;
  }
  .product-show {
    gap: 2rem;
    padding: 1rem 2rem 2rem;
  }
  .product-info {
    max-width: 450px;
  }
  .product-show-media {
    max-width: 500px;
    max-height: 600px;
  }
  .product-info .product_btns.btns {
    max-width: 100%;
  }
}

.product-table {
  .Stock {
    display: inline-block;
    width: max-content;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(21, 255, 0, 0.329);
    color: rgb(35, 148, 7);
  }
  .Pending {
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.212);
    color: red;
  }
}

.dash-actions {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100px;
  justify-content: space-between;
  align-items: center;
  .action {
    color: $primaryColor;
    padding: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    cursor: pointer;
    &:hover {
      background-color: $whiteColor;
    }
  }
}

//* -------------------------------------------------------------------------- */
//*                                Media Query's                               */
//* -------------------------------------------------------------------------- */

@media only screen and (max-width: 967px) {
  .product-view {
    max-width: 500px;
    .product-show {
      height: 800px;
      overflow-y: scroll;
      flex-direction: column;
    }
    .product-info {
      width: 100%;
      max-width: 100%;
    }
    .product-show-media {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .dash-products .widgets .widget {
    max-width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .dash-products .widgets .widget {
    max-width: 100%;
  }
  .dash-container .filters {
    gap: 0.5rem;
    .filter-btn {
    }
    .new-product {
      .icon {
        margin: 0%;
      }
      .text {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 567px) {
  .product-view {
    max-width: 90%;
    .product-show {
      height: 80vh;
      overflow-y: scroll;
      flex-direction: column;
      padding: 0rem 0.5rem 1rem;
    }
    .product-info {
      width: 100%;
      max-width: 100%;
    }
    .product-show-media {
      width: 100%;
      max-width: 100%;
    }
  }
}
