@import "./components/navbar/navbar.scss";
@import "./components/sidebar/sidebar.scss";
@import "./components/statics/statics.scss";
@import "./components/sliders/sliders.scss";
@import "./components/textEditor/textEditor.scss";
@import "./components/detailsView/invoiceView.scss";
@import "./components/detailsView/customerView.scss";
@import "./components/uploading/uploadImages.scss";
@import "./components/popups/newProduct/newProductPopup.scss";
@import "./pages/main/main.scss";
@import "./pages/customers/customer.scss";
@import "./pages/products/products.scss";
@import "./pages/invoices/invoices.scss";

//* -------------------------------------------------------------------------- */
//*                                  Global Variables                                 */
//* -------------------------------------------------------------------------- */

h1.dash-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.dashboard h2 {
  font-size: 24px;
}

.in-dash-container h3 {
  font-size: 16px;
  font-weight: normal;
  color: $greyColor;
}

.dash-container h3 {
  font-size: 18px;
  font-weight: 500;
}

.in-dash-container {
  width: 90%;
  padding: 2rem 0;
  margin: 0% auto;
}

.dash-duration {
  text-align: right;
  select {
    background-color: transparent;
    border: none;
    color: $greyColor;
    outline: none;
    option {
      background-color: transparent;
      border: none;
    }
  }
}

.table-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  svg {
    width: 16px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//* -------------------------------------------------------------------------- */
//*                               General Styles                               */
//* -------------------------------------------------------------------------- */

.dashboard {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  max-width: 100vw;
}
.dash-container {
  min-width: 80%;
  width: 100%;
}
.sidebar {
  width: 250px;
  z-index: 200;
}

.not-sorted-head {
  cursor: default;
}

//* -------------------------------------------------------------------------- */
//*                                Media Query's                               */
//* -------------------------------------------------------------------------- */

@media only screen and (max-width: 967px) {
  .dash-container {
    margin-left: 66px;
    width: calc(100% - 66px);
  }
  .in-dash-container {
    width: 95%;
  }
}

@media only screen and (max-width: 567px) {
  .dash-container {
    margin-left: 0;
    width: 100%;
  }
  .in-dash-container {
    width: 95%;
  }
}
