.invoice-view {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 80vh;
  padding: 0% 1rem;
  overflow: auto;
}

.invoice-overview {
  width: 100%;
}
.invoice-user-info {
  width: 350px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  line-height: 1.3;
  border: $border;
  background-color: $secondColor;
  &-avatar {
    width: 100px;
    height: 100px;
    border: $border;
    border-radius: 100px;
    margin-bottom: 0.5rem;
  }
}
.sm-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.invoice-overview-wrapper {
  // background-color: $secondColor;
  height: 90%;
  overflow: auto;
}
.invoice-products-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.invoice-products {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  overflow: auto;
}
.invoice-products-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
  background-color: $secondColor;
  border: $borderThirdColor;
  box-shadow: 2px 5px 7px -10px #555;
  p {
    font-size: 20px;
  }
}
.invoice-product-info {
  position: relative;
  height: 130px !important;
  margin-bottom: 0%;
  box-shadow: 2px 5px 7px -10px #555;
}
.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.product_image.invoice-img {
  height: 70px;
  width: 100%;
  max-width: 70px;
  object-fit: contain;
}

//* ------------------------------ Media Query's ----------------------------- */

@media only screen and (max-width: 967px) {
  .invoice-view {
    padding: 0% 0.5rem;
  }
  .invoice-user-info {
    display: none;
  }
}
