.widgets {
  margin-bottom: 2rem;
  .widget-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    flex: 1;
    height: 130px;
    min-width: 200px;
    padding: 0.5rem 1rem;
    background-color: $whiteColor;
    border: $borderThirdColor;
    .icon {
      position: absolute;
      display: flex;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      align-items: center;
      svg {
        height: 24px;
      }
    }
  }

  h4 {
    position: relative;
    width: 100%;
    font-size: 32px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .widget-rank {
    text-align: center;
  }
}

//* ------------------------------ Media Querys ------------------------------ */

@media only screen and (max-width: 1240px) {
  .widgets {
    h4 {
      font-size: 24px;
    }
    .widget .icon svg {
      height: 18px;
    }
  }
}

@media only screen and (max-width: 967px) {
  .widgets {
    h3 {
      font-size: 14px !important;
    }
    .widget .icon svg {
      height: 18px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .widgets .widget-wrapper {
  }
}

@media only screen and (max-width: 567px) {
  .widget-wrapper {
    h4 span {
      font-size: 24px;
    }
  }
}
