.dash-search-filter {
  width: 50%;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 100%;
  padding: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.customers-table .customer-avatar {
  display: flex;
  align-items: center;
  height: 100%;
  img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    max-height: 45px;
    max-width: 45px;
    object-fit: cover;
    margin-right: 10px;
  }
}

.customer-actions.dash-actions {
  width: 70px;
  max-width: 80px;
}
.customers-table .edit-menu .action {
  padding: 4px;
  width: 22px;
  height: 22px;
}

//* -------------------------------------------------------------------------- */
//*                                Media Query's                               */
//* -------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .dash-search-filter {
    width: 100%;
  }
}
