.statics-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
  & > div,
  section > div {
    border: $borderThirdColor;
    background-color: $whiteColor;
    padding: 1rem;
  }
  .analyse {
    display: flex;
    column-gap: 1rem;
  }
  .visits-chart {
    flex: 3;
    height: 500px;
    .chart-wrapper {
      height: 95%;
    }
  }
  .sales-chart {
    flex: 1;
    height: 500px;
    .chart-wrapper {
      height: 95%;
    }
  }
  .order-chart {
    height: 400px;
    width: 300px;
    .chart-wrapper {
      margin: 0 auto;
      height: 95%;
    }
    // flex: 1;
  }
}
